@model SportsStore.Domain.Entities.Product
@{
    var priceRange = Model.GetMinMaxPriceCN();
}
<div class="item">

    @if (Model.ImageLinks != null) {
        <div style="float:left;margin-right:20px">
            <img width="5" height="5" src="@Model.ThumbnailLink" />
        </div>
    }

    <h3>@Html.ActionLink(Model.TitleCN, "ProductDetails", new { Model.ID })</h3>
    @Model.Brand

    @using (Html.BeginForm("AddToCart", "Cart")) {
        @Html.HiddenFor(x => x.ProductID)
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <input type="submit" value="+ 添加到购物车" />
    }

    @if (priceRange.Item1 == priceRange.Item2)
    {
        <h4>¥@priceRange.Item1.ToString()</h4>
    }
    else
    {
        <h4>¥@priceRange.Item1.ToString()--¥@priceRange.Item2.ToString()</h4>
    }
</div>
