@model IList<SportsStore.Domain.Entities.Product>

@{
    ViewBag.Title = "Edit Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<p>
    Add one products from a page:
    @using (Html.BeginForm("ParseProduct", "Admin"))
    {
        @Html.Label("Page address:")
        @Html.TextBox("productURL", "http://www.boden.co.uk/en-gb/girls-dresses/knitted-dresses/g1095-red/girls-polish-red-snowmen-fair-isle-knitted-dress", new { style = "width: 70%" })
        <input type="submit" value="Parse one" />
    }
</p>

<p>
    Add multiple products from a page:
    @using (Html.BeginForm("ParseMultiple", "Admin"))
    {
        @Html.Label("Page address:")
        @Html.TextBox("url", "https://www.next.co.uk/shop/gender-newborngirls-gender-oldergirls-gender-youngergirls-category-dresses", new { style = "width: 70%" })
        <input type="submit" value="Parse multiple" />
    }
</p>


@using (Html.BeginForm("AddMultiple", "Admin",new { @Model }))
{
    <table class="Grid">
        <tr>
            <th>No.</th>
            <th>Product ID</th>
            <th>Title</th>
            <th>Brand</th>
            <th >Gender</th>
            <th>Category</th>
            <th>Image</th>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            var @imgLink = Model[i].ThumbnailLink != null ? Model[i].ThumbnailLink : "";
            ViewBag.genderSelectList[(int)(Model[i].Gender)].Selected = true;
            <tr>
                <td>@i</td>
                <td>@Html.TextBoxFor(x => x[i].ProductID, new { @readonly = "readonly" })</td>
                <td>@Html.TextBoxFor(x => x[i].Title, new { @readonly = "readonly" })</td>
                <td>@Html.TextBoxFor(x => x[i].TitleCN, new { @class = "TextBoxAsLabel" })</td>
                <td>@Html.DropDownListFor(x => x[i].Gender, (IEnumerable<SelectListItem>)ViewBag.genderSelectList)</td>
                <td>@Html.TextBoxFor(x => x[i].Category)</td>
                <td><img height="50" src="@imgLink" /></td>
                @Html.HiddenFor(x => x[i].Brand)
                @Html.HiddenFor(x => x[i].SizePricesBinary)
                @Html.HiddenFor(x => x[i].Description)
                @Html.HiddenFor(x => x[i].DescriptionCN)
                @Html.HiddenFor(x => x[i].Material)
                @Html.HiddenFor(x => x[i].MaterialCN)
                @Html.HiddenFor(x => x[i].MinimumAge)
                @Html.HiddenFor(x => x[i].MaximumAge)
                @Html.HiddenFor(x => x[i].ImageLinks)
                @Html.HiddenFor(x => x[i].ThumbnailLink)
                @Html.HiddenFor(x => x[i].URL)
                @Html.HiddenFor(x => x[i].InsertTime)
                @Html.HiddenFor(x => x[i].UpdateTime)
            </tr>
            }
    </table>
    <input type="submit" value="Add to Database" />
    <br />
    <br />
}
