@model IEnumerable<SportsStore.Domain.Entities.Product>

@{
    ViewBag.Title = "Admin: All Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>All Products</h3>
<table class="Grid">
    <tr>
        <th>ID</th>
        <th>Brand</th>
        <th>Name</th>
        <th>Name (CN)</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductID</td>
            <td>@item.Brand</td>
            <td>@Html.ActionLink(item.Title, "Edit", new { item.ID })</td>
            <td>@item.TitleCN</td>
            <td>
                @using (Html.BeginForm("Delete", "Admin"))
                {
                    <input type="submit" value="Delete"/>
                }
            </td>
        </tr>
    }
</table>
<p>@Html.ActionLink("Add a new product", "Create")</p>
<p>@Html.ActionLink("Add products from a page", "CreateMultiple")</p>

