@model SportsStore.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "咕咕童装：结算";
}

<h2>结算</h2>
请输入您的具体信息，我们会及时发货!
@using (Html.BeginForm()) {
    
    @Html.ValidationSummary()
    
    <h3>发货地址</h3>
    <div>姓名: @Html.EditorFor(x => x.Name)</div>

    <h3>地址</h3>
    <div>第一行: @Html.EditorFor(x => x.Line1)</div>
    <div>第二行: @Html.EditorFor(x => x.Line2)</div>
    <div>第三行: @Html.EditorFor(x => x.Line3)</div>
    <div>城市: @Html.EditorFor(x => x.City)</div>
    <div>省份: @Html.EditorFor(x => x.State)</div>
    <div>邮编: @Html.EditorFor(x => x.Zip)</div>
    <div>国家: @Html.EditorFor(x => x.Country)</div>

    <h3>选项</h3>
    <label>
        @Html.EditorFor(x => x.GiftWrap)
        礼品包装
    </label>
        
    <p align="center">
        <input class="actionButtons" type="submit" value="完成" />
    </p>
}